<p id="notice"><%= notice %></p>

<p>
  <strong>ヒント</strong>
  <%= @picturetest.hint %>
</p>

<p>
  <strong>画像</strong>
  <%= image_tag @picturetest.picture.url, style: "width: 100%;" %>
</p>

<p>
  <strong>解答</strong>
  <%= @picturetest.answer %>
</p>

<div align="center">
	<%= link_to '更新', edit_picturetest_path(@picturetest), class: "btn waves-effect waves-light" %>
</div>
<br>
<div align="center">
	<%= link_to '戻る', picturetests_path, class: "btn waves-effect waves-light blue-grey" %>
</div>
